.header {
  display: flex;
  height: 69px;
  width: 100%;
  background-color: #1975d2;
  box-shadow: 1px 7px 16px 1px rgba(34, 60, 80, 0.23);
  justify-content: flex-end;
  align-items: center;
}
.header img {
  width: 50px;
  padding: 2px;
  padding-left: 20px;
}

.header_flex {
  width: 1200px;
  margin: 0 auto;
}